@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.otf') format('opentype');
}

.post {
  font-size: 1.2rem;
  a {
    text-decoration: none;
    color: var(--accent);
  }

  a.post-tag,
  .tag-list a {
    color: #66c8ff;
  }

  a:link {
    color: var(--accent);
  }

  a:hover {
    background: var(--accent);
    color: var(--background);
    
    .post-date {
      color: var(--background);
    }
  }

  a.zola-anchor {
    display: inline-block;
    padding-right: 0.5rem;
  }

  a.zola-anchor:hover {
    background: var(--accent);
    color: var(--background);

    &:before {
      content: "#";
      margin: 0 0.5rem 0 0.2rem;
    }
  }
}

.post-date,
.post-list {
  font-family: "Hack";
}

.post,
.post-list-title {
  font-family: "Atkinson Hyperlegible";
  line-height: 1.5rem;
}

.post-content::selection,
.post-content *::selection {
  background: var(--accent-alpha-70);
}
