@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.otf') format('opentype');
}

div.post {
  a:hover {
    background: var(--accent);
    color: var(--background);
    
    .post-date {
      color: var(--background);
    }
  }
}

.post-date,
.post-list {
  font-family: "Hack";
}

.post,
.post-list-title {
  font-family: "Atkinson Hyperlegible";
  line-height: 1.5rem;
}

.post-content {
  a {
    color: rgb(138, 219, 254);
  }

  a:visited {
    color: rgb(205, 161, 255);
  }

}

.post-content::selection,
.post-content *::selection {
  background: var(--accent-alpha-70);
}
