@font-face {
  font-family: "Atkinson Hyperlegible";
  src: url('/fonts/AtkinsonHyperlegible/AtkinsonHyperlegible-Regular.otf') format('opentype');
}

.post {
  font-size: 1.2rem;
  padding: 0;
  a {
    text-decoration: none;
    color: var(--accent);
  }

  .post-tag,
  .tag-list a {
    color: #66c8ff;
  }

  a:hover {
    background: var(--accent);
    color: var(--background);
    
    .post-date {
      color: var(--background);
    }
  }

  a.zola-anchor {
    display: inline-block;
    padding-right: 0.5rem;
  }

  a.zola-anchor:hover {
    display: inline-block;
    position: relative;
    background: var(--accent);
    color: var(--background);

    &:before {
      position: absolute;
      left: -1.5rem;
      content: "#";
      color: var(--accent);
      font-weight: normal;
    }
  }

  img {
    border-radius: 5px;
  }
}

.post-date,
.post-list {
  font-family: "Hack";
  text-wrap: nowrap;
}

.post,
.post-list-title {
  font-family: "Atkinson Hyperlegible";
  line-height: 1.5rem;
}

.post-content::selection,
.post-content *::selection {
  background: var(--accent-alpha-70);
}
