<svg 
  version="1.1" 
  xmlns="http://www.w3.org/2000/svg"
  xmlns:svg="http://www.w3.org/2000/svg"
  style="display: none;">
    <style>
        .info-text {
            font-size: 60px;
            font-weight: 600;
            font-family: 'Atkinson Hyperlegible', 'Tahoma', 'Arial';
        }
    </style>
    <symbol id="info" viewBox="0 0 100 100">
        <circle
           id="info-circle"
           stroke="currentColor"
           stroke-width="10"
           cx="50"
           cy="50"
           r="45" />
        <text class="info-text" x="50" y="50" dy=".26rem" text-anchor="middle" dominant-baseline="middle" fill="currentColor">!</text>
    </symbol>
</svg>

{% if type == "caution" %}
<div class="callout caution">
  <div class="callout-head">
    <svg class="icon"><use xlink:href="#info"></use></svg>
    <div>Caution</div>
  </div>
  <div class="callout-text">
    {{ text }}
  </div>
</div>
{% elif type == "warning" %}
<div class="callout warning">
  <div class="callout-head">
    <svg class="icon"><use xlink:href="#info"></use></svg>
    <div>Warning</div>
  </div>
  <div class="callout-text">
    {{ text }}
  </div>
</div>
{% elif type == "important" %}
<div class="callout important">
  <div class="callout-head">
    <svg class="icon"><use xlink:href="#info"></use></svg>
    <div>Important</div>
  </div>
  <div class="callout-text">
    {{ text }}
  </div>
</div>
{% elif type == "tip" %}
<div class="callout tip">
  <div class="callout-head">
    <svg class="icon"><use xlink:href="#info"></use></svg>
    <div>Tip</div>
  </div>
  <div class="callout-text">
    {{ text }}
  </div>
</div>
{% else %}
<div class="callout note">
  <div class="callout-head">
    <svg class="icon"><use xlink:href="#info"></use></svg>
    <div>Note</div>
  </div>
  <div class="callout-text">
    {{ text }}
  </div>
</div>
{% endif %}

<style>
.callout {
  backdrop-filter: brightness(135%);
  border-left: 4px solid;
  padding: 10px;
  margin: 1rem 0;
  border-radius: 4px;
  font-size: 1.2rem;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
}

.caution {
  color: #f34e4e;
}

.warning {
  color: orange;
}

.important {
  color: rgb(177, 154, 255);
}

.tip {
  color: rgb(71, 173, 71);
}

.note {
  color: rgb(172, 223, 255);
}

.callout-head {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  fill: transparent;
  font-weight: 600;
  margin: 0.2rem 0;
  letter-spacing: 1px;
}

.callout-text {
  color: var(--color);
}

</style>
